[MASTER]
# This is used in order to fix numpy false positives.
extension-pkg-whitelist=numpy,polymath,pypuf_helper

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX


[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,n,N,mu,s,l,m,u,v,nn,kk

# Naming hint for function names
function-name-hint=(([a-z][a-z0-9_]{2,37})|(_[a-z0-9_]*))$

# Regular expression matching correct function names
function-rgx=(([a-z][a-z0-9_]{2,37})|(_[a-z0-9_]*))$

# Naming hint for method names
method-name-hint=(([a-z][a-z0-9_]{2,37})|(_[a-z0-9_]*))$

# Regular expression matching correct method names
method-rgx=(([a-z][a-z0-9_]{2,37})|(_[a-z0-9_]*))$


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
# E1111 is buggy for certain numpy functions, see github.com/PyCQA/pylint/issues/2435
disable=E1111,C0103,C0411,W0221
