[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX


[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,n,N


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=15

[DESIGN]

# Maximum number of arguments for function / method
max-args=10

# Maximum number of attributes for a class (see R0902).
max-attributes=18
